.App{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #2C3E50
    /*#A8ADB4*/
}
.Loader{
	min-height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	
	
}
.Hidden{
	display: hidden;
}
.Header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 70vh;
    min-width: 100%;
    background-image: linear-gradient(to right, #36d1dc, #005288);;
    
}

.Name{
    color: whitesmoke;
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    opacity: 0;
    transition: opacity .5s linear;
}
.Desc{
    font-size: 1rem;
    text-align: center;
    font-family: Assistant, sans-serif;
    font-weight: lighter;
}
.Weight{
    font-weight: 700;
}

.Images{
    flex-direction: row;
    margin-top: 0.3em;
}


.Desc,.Images,#scrolldown{
    transform:translateY(2em);
    animation: slide-up 1s forwards;
}


.Images .col{
    margin: .5em;
}

a > img:hover {
    filter: none;
}

#scrolldown{
    height: 3em;
    width: 8em;
    text-align: center;
    color: azure;
    line-height: 2.7em;
    background: transparent;
    border-style: solid;
    border-color: #D9D7B9; 
    cursor: pointer;
}

#scrolldown:hover{
    background: #D9D7B9;
    color: black;
}


.ProjTitle{
    margin-top: 1.5em;
    font-size: 2rem;
    color: whitesmoke;
    font-family: Roboto, sans-serif;
    

}
.ProjDesc{
    padding: 0.5em; 
    font-size: 1rem;
    line-height: 1.3em;
    font-family: Assistant, sans-serif;
    font-weight: lighter;
}
.Reference::before{
    content: "\A";
    white-space: pre;
}
.ProjName{
    align-self: center; 
    padding-top: 0.5em;
    font-size: 2rem;
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}
.Portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: #2C3E50;
    /*#A8ADB4*/
    overflow: hidden;
}

.Project{
    margin-top: 4em;
    min-height: 25vh;
    min-width: 40vw;
    background-color: #EAEDED;
    overflow: hidden;
    display: hidden;
  
    opacity: 0;
    transition: opacity .5s linear;
}

.Visible{

    opacity: 1;
}

.border-red{
    border-style: solid;
    border-width: 2em;
    border-color : #566573
    /*lightgrey;*/
}

.border-blue{
    border-style: solid;
    border-width: 2em;
    border-color: #566573;
}

.border-teal{
    border-style: solid;
    border-width: 2em;
    border-color: #566573;
}
.border-orange{
    border-style: solid;
    border-width: 2em;
    border-color: #566573;
}

.border-purple{
    border-style: solid;
    border-width: 2em;
    border-color: #566573;
}

.Footer{
    margin-top: 4em;
    background: #005288;
    font-family: Assistant, sans-serif;
}

.pinterest-background,.movie-background,.deck-background,.iot-background,.api-background{
    filter: grayscale(100%);
    transition: 1s filter linear;
}


    

.pinterest-background{
    height: 20em;
	background-image: url("./images/pinterestclone.PNG");
	background-size: cover;
	background-position: center;
}
.movie-background{
	height: 20em;
	background-image: url("./images/moviewebapp.PNG");
	background-size: cover;
	background-position: center
}

.deck-background{
	height: 20em;
	background-image: url("./images/deck1.PNG");
	background-size: cover;
	background-position: center
}

.iot-background{
	height: 20em;
	background-image: url("./images/website.PNG");
	background-size: cover;
	background-position: left
}

.api-background{
	height: 20em;
	background-image: url("./images/gameapi.PNG");
	background-size: cover;
	background-position: center
}

.button-style{
    font-family: Assistant; 
    align-self:center; 
    width: 10em; 
    margin-bottom:1em;
}

.slide-up{
    transform:translateY(8em);
    animation-name: slide-up;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes slide-up {
    to { transform: translateY(0); }
}

@media (min-width: 768px) {
    .Name{
        font-size: 3.5rem;
    }    
    .Desc{
        font-size: 1.5rem;
    }

    .ProjTitle{
        font-size: 3.5rem;
    }
    .ProjDesc{
        font-size: 2rem
    }

    .ProjName{
        font-size: 3rem;
    }

    .pinterest-background,.movie-background,.deck-background,.iot-background,.api-background{
        height: auto;
    }

}
