.App{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #A8ADB4
}

.Header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    min-height: 70vh;
    min-width: 100%;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    
}

.Name{
    color: whitesmoke;
    margin-top: 5rem;
    font-size: 2rem;
    text-align: center
}
.Desc{
    font-size: 1rem;
    text-align: center;
}
.Weight{
    font-weight: 700;
}

.Images{
    flex-direction: row;
    margin-top: 0.3em;
}

.Images *{
    margin-left: 1em
}

.ProjTitle{
    margin-top: 1.5em;
    font-size: 2rem;
}
.ProjDesc{
    padding: 0.5em; 
    font-size: 1rem
}
.Reference::before{
    content: "\A";
    white-space: pre;
}
.ProjName{
    align-self: center; 
    padding-top: 0.5em;
    font-size: 2rem;
}
.Portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    background-color: #A8ADB4
}

.Project{
    margin-top: 4em;
    min-height: 25vh;
    min-width: 60vw;
    background-color: #EAEDED;
}

.Footer{
    margin-top: 1em;
    background-color: #48c6ef;
}

@media (min-width: 768px) {
    .Name{
        color: whitesmoke;
        margin-top: 5rem;
        font-size: 3rem;
    }    
    .Desc{
        font-size: 1.5rem;
        text-align: center;
    }
    .Weight{
        font-weight: 700;
    }
    
    .Images{
        flex-direction: row;
        margin-top: 0.3em;
    }
    
    .Images *{
        margin-left: 1em
    }
    .ProjTitle{
        margin-top: 1.5em;
        font-size: 3.5rem;
    }
    .ProjDesc{
        padding: 0.5em; 
        font-size: 2rem
    }
    .Reference::before{
        content: "\A";
        white-space: pre;
    }
    .ProjName{
        align-self: center; 
        padding-top: 0.5em;
        font-size: 3rem;
    }
    .Portfolio{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        background-color: #A8ADB4
    }
    
    .Project{
        margin-top: 4em;
        min-height: 25vh;
        min-width: 60vw;
        background-color: #EAEDED;
    }

    .Footer{
   
        margin-top: 1em;
        background-color: #48c6ef;
    }
}
